<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
      <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs %>
    </header>
    <main>
      <h2>Edit Profile</h2>
      <h6>Add some personal information</h6>
      <div class="form-style">
        <form class="form-style" action="/members/show/<%=member._id%>?_method=PUT" method="post">
          <label><span>About Me:</span><br/> <input type="textarea" name="about" value="<%=member.about%>"/></label><br/>
          <label><span>Add a profile picture:</span> <input type="text" name="profpic"/></label><br/>
          <input type="submit" value="Update Profile">
        </form>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
