<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
      <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs %>
    </header>
    <main>
      <h2>Edit Profile</h2>
      <h6>Add some personal information</h6>
        <form class="" action="/members/show/<%=member._id%>?_method=PUT" method="post">
          About Me:<br/> <input type="textarea" name="about" value="<%=member.about%>"/><br/>
          <input type="submit" value="Update Profile">
        </form>
    </main>
  </body>
</html>
