<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
              <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
        <% include ../partials/header.ejs %>
    </header>
    <main>
      <h2>Edit Profile</h2>
      <h6>Changing your display name will only change the name that appears attached to your posts. It will not change your login username.</h6>
        <form class="" action="/members/<%=member._id%>?_method=PUT" method="post">
          New Display Name: <input type="text" name="username" value="<%=member.username%>"/><br/>
          <input type="submit" value="Update Profile">
        </form>
    </main>
  </body>
</html>
