<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
        <% include ../partials/header.ejs %>
    </header>
    members edit page: edit profile    
  </body>
</html>
