<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Downdays Community</title>
              <% include ../partials/head.ejs %>
  </head>
  <body class="logged-in">
    <header>
        <% include ../partials/header.ejs %>
    </header>
    <div class="community">
      <main>
        <h1>Our Community</h1>
          <% for (i=0; i<members.length; i++) { %>
            <div class="community-member">
              <div class="com-mem-id">
                <a href="/members/show/<%=members[i]._id%>"> <%=members[i].username%> </a><br/><br/>
              </div>
              <img src="<%=members[i].profpic %>" alt="" >
            </div>
            <% } %>
        </main>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
