<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Downdays Community</title>
              <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
        <% include ../partials/header.ejs %>
    </header>
    <div class="community">
      <main>
        <ul>
          <% for (i=0; i<members.length; i++) { %>
            <li>
              <a href="/members/show/<%=members[i]._id%>"> <%=members[i].username%> </a>
            </li>
            <% } %>

        </ul>
        </main>
    </div>
  </body>
</html>
