<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
              <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
        <% include ../partials/header.ejs %>
    </header>
    <h1> <%=member.username%> </h1>
    <p><%=member.about%> </p>
    <h1>Activity</h1>
    <ul>
      <% for (let i=0; i<member.posts.length; i++) { %>
        <li>

            <%=member.posts[i].title%>
        
        </li>
      <% } %>
    </ul>
<!--
    <section>
      <form action="/members/show/<%=member._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Member">
      </form>
    </section> -->
  </body>
</html>
