
<nav class="footer-nav">
  <a href="/posts" id="footer-tagline">i'd rather be skiing</a>
  <a href="/posts/new">New Post</a>
  <a href="/members">Community</a>
  <a href="/sessions/logout">Log Out</a>
  <br/><br/>
  Copyright (c) 2017  All Rights Reserved
</nav>
