
<nav class="banner-nav">
  <a href="/posts" id="footer-tagline">we'd rather be skiing</a>
  <a href="/posts/new">New Post</a>
  <a href="/members">Community</a>
  <a href="/sessions/logout">Log Out</a>

</nav>
