<nav class="banner-nav">
  <a href="/about">Down Days</a>
  <a href="/posts">The White Room</a>
  <a href="/posts/new">New Post</a>
  <a href="/members">Community</a>
  <a href="/sessions/logout">Log Out</a>
</nav>

<div class="banner">
  <h1 class="banner-head" id="title">
    <a href="/posts">The White Room</a><br/>
  </h1>
</div>
