<div class="banner">
  <h1 class="banner-head" id="title">
    <a href="/posts">down days</a>
  </h1>

  <h1 class="banner-head" id="sub">we'd rather be skiing</h1>
  <nav class="banner-nav">
    <a href="/posts">Home</a>
    <a href="/posts/new">New Post</a>
    <a href="/members">Community</a>
    <a href="/sessions/logout">Log Out</a>

  </nav>
</div>
