<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
      <% include partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include partials/header.ejs %>
    </header>
    <div class="about-page">
      <main>
        <h1>Who are we?</h1>
        <p>
          Down Days is a forum run by skiers and snowboarders, for skiers and snowboarders, about skiing and snowboarding. Because we all need something to do when we're not on the mountain, and somewhere to go where others understand our love of pow.<br/>
          <strong>You've found us.</strong>
          You can be happy now. Now you never have to stop talking about skiing.<br/><br/>
        </p>
        <h1>Join the team.</h1>
        <p>Down Days is a supportive community.<br/><br/>
          Share your footage, your trip itineraries, or pro tips on your local mountain. Drop a pin to show us where you last found fresh goods.
          <strong>Ask for advice about anything: </strong>
          new gear, that trick you can't seem to master, even dirtbagging tips or road conditions in your area. Search and tag your post by category.
        </p>
        <p>
          Spread the stoke. Make winter last forever. <br/><br/>
          Because we can't always be skiing, but when we're not, we'd rather be.<br/><br/>
        </p>
        <h1>Want to know what else we're up to?</h1>
        <strong><a href="#">Check out our video projects.</a></strong>
        <br/><br/>
        <strong><a href="/contact">Find us in the real world.</a></strong>
        <br/><br/>
      </main>
    </div>
      <nav class="footer-nav">
        <a href="/posts" id="footer-tagline">i'd rather be skiing</a>
        <a href="/posts/new">New Post</a>
        <a href="/members">Community</a>
        <a href="/sessions/logout">Log Out</a>
        <br/><br/>
        Copyright (c) 2017  All Rights Reserved
      </nav>
  </body>
</html>
