<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Connect</title>
    <title>About</title>
      <% include partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include partials/header.ejs %>
    </header>
  <body>
    <h1>Contact Us</h1>
    some email stuff, some social media stuff, link away
    <h5>built by <a href="https://github.com/mayagold">mayagold</a> and hosted on heroku</h5>
  </body>
  <% include ../partials/footer.ejs %>
</html>
