<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Connect</title>
    <title>About</title>
      <% include partials/head.ejs %>
  </head>
  <body class="logged-in">
    <header>
      <% include partials/header.ejs %>
    </header>
  <body class="contact">
    <h1>Contact Us</h1>
    <h5>built by <a href="https://github.com/mayagold">mayagold</a> and hosted on heroku</h5>
  </body>
  <nav class="footer-nav">
    <a href="/posts" id="footer-tagline">i'd rather be skiing</a>
    <a href="/posts/new">New Post</a>
    <a href="/members">Community</a>
    <a href="/sessions/logout">Log Out</a>
    <br/><br/>
    Copyright (c) 2017  All Rights Reserved
  </nav>
</html>
