<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/app.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <meta charset="utf-8">
    <title>Down Days</title>
  </head>
  <body class=welcome-page>
    <br/><br/><br/><br/><br/>
    <div class="banner">
      <h1 class="banner-head" id="title">
        <a href="/posts">downdays</a><br/>
        <span id="sub">we'd rather be skiing</span>
      </h1>
      <nav class="banner-nav">
        <a href="/sessions/login">Log in</a>
        <a href="/sessions/register">Join the Community</a>
      </nav>
    </div>
    <h3>the only online forum devoted exclusively to skiing and snowboarding.</h3>
    <h3>join us in the white room.</h3>
  </body>
</html>
