<!DOCTYPE html>
<html>
  <head>
    <!-- CSS File -->
    <link rel="stylesheet" href="/app.css">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300" rel="stylesheet">
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" charset="utf-8"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- app.js file -->
  <script type="text/javascript" src="/app.js"></script>
    <meta charset="utf-8">
    <title>Down Days</title>
  </head>
  <body class=welcome-page>

    <div class="welcome-description">
      <a>The only global community dedicated exclusively to winter sports. Join us in the white room.</a>
    </div>

    <div class="banner">
      <h1 class="banner-head" id="title">
        <span id="sub">I'd rather be skiing</span>
      </h1>
      <nav class="banner-nav">
        <a id="login-button" href="#">Log in</a>
        <a id="register-button" href="#">join</a>
      </nav>
    </div>


<!-- USER LOGIN DIV: DISPLAYS WHEN USER CLICKS LOG IN -->
    <div class="modal-login">
      <form class="form-style" action="/sessions/login" method="POST">
         <label><input type="text" name="username" value="" placeholder="USERNAME"></label><br/>
         <label>
           <input type="password" name="password" value="" placeholder="PASSWORD"></label><br/>
        <button class="submit">SEND</button>
      </form>
    </div>

<!-- USER reg DIV: DISPLAYS WHEN USER CLICKS REGISTER -->
    <div class="modal-register">
      <form class="form-style" action="/sessions/register" method="POST">
        <label><input type="text" name="username" value="" placeholder="CREATE USERNAME"></label><br/>
        <label><input type="password" name="password" value="" placeholder="CREATE PASSWORD"></label><br/>
        <label><input type="password" name="verifypassword" value="" placeholder="VERIFY PASSWORD"></label><br/>
        <button class="submit">SEND</button>
      </form>
    </div>


  </body>
</html>
