<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Down Days</title>
    <% include partials/head.ejs %>
  </head>
  <body>
    <h1>Down Days</h1>
    <h1>we'd rather be skiing.</h1>
    <h5></h5>
    <a href="/sessions/login">Login</a>
    <a href="/sessions/register">Join the Community</a>
  </body>
</html>
