body {
  background-color: whitesmoke;
  /*background-image: url("1.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "open sans condensed", sans-serif;
  color: black;
  margin: 0 auto;
  padding: 0;
}

@keyframes fadein-neon {
    from { opacity: 0; }
    10% { opacity: 0; }
    70% { opacity: 1; }
    72% { opacity: .7; }
    78% { opacity: 1; }
    80% { opacity: .8; }
    100% { opacity: 1; }
}

@keyframes fadein-form {
    from { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/*Landing Page CSS*/

.welcome-page {
  background-color: black;
  background-image: url('1.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

.welcome-page > .welcome-description {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
  animation: fadein-form 8s;
}

.welcome-page > .banner {
    animation: fadein-neon 4s;
}

.welcome-page .banner-head a{
  color: crimson;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #990000,
    0 0 20px #fff,
    0 0 40px #990000,
    0 0 80px #990000,
    0 0 90px #990000,
    0 0 100px #0ff,
    0 0 150px #990000;

}

.welcome-page .banner-head > #sub {
  text-shadow:
  0 0 5px #fff,
0 0 10px #fff,
0 0 20px #fff,
0 0 40px crimson,
0 0 80px crimson,
0 0 90px crimson,
0 0 100px crimson,
0 0 150px crimson;
}

.modal-login {
  display: none;
}

.modal-register {
  display: none;
}

.welcome-page .banner-nav {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.welcome-page .banner-nav a {
  animation: fadein-form 8s;
  color: crimson;

}

.welcome-page .banner-nav a:hover {
  color: whitesmoke;
  text-shadow: 0 0 5px #fff,
  0 0 3px #fff,
  0 0 2px #fff,
  0 0 4px crimson,
  0 0 8px crimson,
  0 0 9px crimson,
  0 0 1px crimson,
  0 0 10px crimson;
  -moz-text-shadow: 0 0 5px #fff,
  0 0 3px #fff,
  0 0 2px #fff,
  0 0 4px crimson,
  0 0 8px crimson,
  0 0 9px crimson,
  0 0 1px crimson,
  0 0 10px crimson;
  -webkit-text-shadow: 0 0 5px #fff,
  0 0 3px #fff,
  0 0 2px #fff,
  0 0 4px crimson,
  0 0 8px crimson,
  0 0 9px crimson,
  0 0 1px crimson,
  0 0 10px crimson;
}

.welcome-page #sub {
  color: whitesmoke;
  font-size: 120px;
  padding-bottom: 0;
  margin-top: 20px;
  padding-top: 20px;
  text-shadow: none;
}

.welcome-page form {
  color: whitesmoke;
  animation: fadein-form 2s;
}

.welcome-page form input {
  background: whitesmoke;
  color: crimson;
}

.welcome-page .submit {
  font-family: "Open Sans Condensed", sans-serif;
  color: whitesmoke;
  text-shadow: 0 0 5px #0ff,
  0 0 3px #0ff,
  0 0 2px #0ff,
  0 0 4px #0ff,
  0 0 8px #0ff,
  0 0 9px #0ff,
  0 0 1px #0ff,
  0 0 10px #0ff;
  -moz-text-shadow: 0 0 5px #fff,
  0 0 3px #fff,
  0 0 2px #fff,
  0 0 4px #0ff,
  0 0 8px #0ff,
  0 0 9px #0ff,
  0 0 1px #0ff,
  0 0 10px #0ff;
  -webkit-text-shadow: 0 0 5px #0ff,
  0 0 3px #0ff,
  0 0 2px #0ff,
  0 0 4px #0ff,
  0 0 8px #0ff,
  0 0 9px #0ff,
  0 0 1px #0ff,
  0 0 10px #0ff;
}

.welcome-page .submit:hover {
  color: whitesmoke;
  text-shadow: 0 0 5px #fff,
  0 0 3px #fff,
  0 0 2px #fff,
  0 0 4px crimson,
  0 0 8px crimson,
  0 0 9px crimson,
  0 0 1px crimson,
  0 0 10px crimson;
  -moz-text-shadow: 0 0 5px #fff,
  0 0 3px #fff,
  0 0 2px #fff,
  0 0 4px crimson,
  0 0 8px crimson,
  0 0 9px crimson,
  0 0 1px crimson,
  0 0 10px crimson;
  -webkit-text-shadow: 0 0 5px #fff,
  0 0 3px #fff,
  0 0 2px #fff,
  0 0 4px crimson,
  0 0 8px crimson,
  0 0 9px crimson,
  0 0 1px crimson,
  0 0 10px crimson;
}

.welcome-page H3 {
  text-align: center;
  font-size: 30px;
  width: 50%;
  margin: 30px auto;
  color: black
}



header {
  margin: 0 auto;
}

a:hover {
  color: steelblue;
}

.footer-nav {
  font-family: "Amatic SC", cursive;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  color: steelblue
}

.footer-nav a {
  padding-left: 20px;
  padding-right: 20px;
  color: black
}

.banner {
  font-family: "Amatic SC", cursive;
  width: 90%;
  /*padding-top: 40px;*/
  padding-bottom: 0;
  margin: 0 auto;
  text-transform: uppercase;
}

.banner-head {
  color: black;
  font-size: 45px;
  height: 100%;
  padding: 0px;
  text-align: center;
}

.banner-head a{
  color: whitesmoke;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #000000,
    0 0 20px #fff,
    0 0 40px #000000,
    0 0 80px #000000,
    0 0 90px #000000,
    0 0 100px #000000,
    0 0 150px #000000;

}

.banner-head > #sub {

}

#title {
  font-family: "Amatic SC", cursive;
  font-size: 100px;
  color: crimson;
  font-weight: lighter;
  /*line-height: 50px;*/
  padding-top: 70px;
  margin: 0px auto;
  padding-bottom: 0px;
  text-shadow: 2px 2px #000000;
}

#sub {
  color: black;
  font-size: 40px;
  padding-bottom: 0;
  margin-top: 20px;
  padding-top: 20px;
  text-shadow: none;
}

.logged-in .banner-nav {
  width: 100%;
  display: none;
  text-align: center;
  background: black;
  color: whitesmoke;
  position: fixed;
  /*margin-top: -20px;*/
  padding-top: 10px;
  padding-bottom: 10px;
}

.banner-nav a {
  color: whitesmoke;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 20px;
  text-transform: uppercase;
}

.banner-nav a:hover {
  text-shadow:
    0 0 5px whitesmoke,
    0 0 10px whitesmoke,
    0 0 20px whitesmoke,
    0 0 40px whitesmoke,
    0 0 80px whitesmoke,
    0 0 90px whitesmoke,
    0 0 100px whitesmoke,
    0 0 150px whitesmoke;
}

.user-info {
  font-family: "open sans condensed", sans-serif;
  width: 100%;
  font-size: 20px;
  margin: 0 auto;
  padding: 14px;
  text-align: center;
  color: crimson;
  font-weight: bold;
}

.user-info a {
  color: crimson;
}

.user-info a:hover {
  color: gold;
}


a {
  text-decoration: none;
  color: gold;
}

ul {
    padding-left: 0
}

.index-posts {
  border-bottom: 2px solid black;
  margin: 0 auto;
}

.post {
  display: block;
}

.post-head {
  text-align: left;
  width: 90%;
  display: inline-block;
  padding: 1%;
  margin: 10px auto;
  font-size: 20px;

}

.post-head img {
  max-height: 150px;
  max-width: 150px;
  border: 1px solid black;
  background: whitesmoke;
  margin: 0 auto
}

.post-img-div {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  float: left;
  margin-top: 30px;
  width: 200px;
}

.post-head-text {
  max-width: 70%;
  float: left;
  padding-left: 40px;

}

.post-title {
  font-size: 24px;
  padding: 0;
  margin-bottom: 0;
  color: crimson
}

.post-title:hover {
  color: gold
}


.post h6 {
  color: black
}


.post p {
  color: black;
  margin-top: 0;
  font-size: 16px
}

.post a {
  color: crimson
}*/


.show-post-page {
  margin: 0 auto;
  display: flex;
  text-align: center;
  max-width: 800px;
}

.show-post-page main {
  margin: 0 auto;
  color: black;
}

.show-post-page h1 {
  font-size: 50px;
  color: gold;
  max-width: 70%;
  margin: 20px auto;
}

.show-post-page img {
  border: 1px solid black;
  box-shadow: 10px 10px 5px #000000;
  background: whitesmoke;
  max-width: 90%;
}

.show-post-page h6 {
  font-size: 20px;
  margin-top: 10px;
  color: black
}

.show-post-page p {
  font-size: 20px;
  margin-top: 40px
}

form {
  color: black;
  padding: 30px;

}

.no-style {
  border: none;
  box-shadow: none;
}

h1 {
  font-family: "amatic sc", cursive;
  font-size: 60px;
}

.community {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.community-member {
  display: inline-flex;
  padding: 0;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  background: rgba(255,255,255,.1);
  box-shadow: 10px 10px 5px #000000;
  margin: 10px;
}

.community-member:hover {
  background: rgba(0,0,0,0);
}

.community-member a {
  text-align: center;
  height: 20px;
  z-index: 100;
  color: crimson;
}

.community-member img {
  height: 200px;
  width: 200px;
  border-radius: 20px;

  z-index: -10;
  position: absolute;
  margin-bottom: 0;
  margin-left: 0;
}

.com-mem-id a {
  font-size: 20px;
  padding: 20px;
}

.about-page {
  margin: 60px auto;
  text-align: center;
  padding: 0px;
  color: black;
}

.about-page a {
  color: crimson;
  font-size: 25px
}

.about-page a:hover {
  color: gold
}

.show-user {
  text-align: center;
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  color: black;
}

.show-user img {
  border: 1px solid black;
  box-shadow: 10px 10px 5px #000000;
  max-width:700px;
}

main p {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 30px
}

.show-user ul {
  margin: 0 auto;
  max-width: 500px;
  padding-left: 0;
  display: block;
}

.show-user ul li {
  text-align: center;
  padding-top: 0;
  display: block;
}

main {
  text-align: center;
  border-radius: 2px;
  margin: 0px auto;
}

main h1 {
  margin-top: 20px;
}

.form-style {
  max-width: 500px;
  margin: 0px auto;
  text-align: center;
}



.form-style label{
    display: block;
    margin: 0;
    padding: 3px
}

.form-style label > span {
    width: 150px;
    float: left;
    text-align: left;
    font-weight: bold;
    padding-top: 4px;
    padding-right: 15px;
    font-size: 20px
}

.form-style input{
    width: 40%;
}

.form-style h3,a {
  color: whitesmoke;
}

.form-style input {
    box-sizing: border-box;
    background-color: black;
    color: whitesmoke;
    border-radius: 30px;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow:   0 0 5px #0ff,
    0 0 3px #0ff,
    0 0 2px #0ff,
    0 0 4px #0ff,
    0 0 8px #0ff,
    0 0 9px #0ff,
    0 0 1px #0ff,
    0 0 10px #0ff;
    -moz-box-shadow: 0 0 5px #fff,
    0 0 3px #fff,
    0 0 2px #fff,
    0 0 4px #0ff,
    0 0 8px #0ff,
    0 0 9px #0ff,
    0 0 1px #0ff,
    0 0 10px #0ff;
    -webkit-box-shadow: 0 0 5px #0ff,
    0 0 3px #0ff,
    0 0 2px #0ff,
    0 0 4px #0ff,
    0 0 8px #0ff,
    0 0 9px #0ff,
    0 0 1px #0ff,
    0 0 10px #0ff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    /*padding: 7px;*/
    outline: none;
}

.form-style input:hover {
    box-shadow: 0 0 5px #fff,
    0 0 3px #fff,
    0 0 2px #fff,
    0 0 4px crimson,
    0 0 8px crimson,
    0 0 9px crimson,
    0 0 1px crimson,
    0 0 10px crimson;
    -moz-box-shadow: 0 0 5px #fff,
    0 0 3px #fff,
    0 0 2px #fff,
    0 0 4px crimson,
    0 0 8px crimson,
    0 0 9px crimson,
    0 0 1px crimson,
    0 0 10px crimson;
    -webkit-box-shadow: 0 0 5px #fff,
    0 0 3px #fff,
    0 0 2px #fff,
    0 0 4px crimson,
    0 0 8px crimson,
    0 0 9px crimson,
    0 0 1px crimson,
    0 0 10px crimson;
}

form .submit {
  font-family: "Amatic SC", cursive;
  text-align: center;
  color: whitesmoke;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  background: black;
  font-size: 18px;
  margin: 0 auto;
  font-weight: bold;
  box-shadow: 1px 1px 4px black;
}

form .submit:hover {
  color: gold;
}

.contact {
  text-align: center;
}

.contact h5 {
  font-size: 30px
}

.prompt {
  text-align: center;
  margin: 0 auto;
}
