body {
background-color: whitesmoke;
  font-family: "open sans condensed", sans-serif;
  color: black;
}

.welcome-page {
background-color: whitesmoke;
}

.welcome-page-options {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color: steelblue;
  padding: 20px;
}

.welcome-page-options a {
  color: steelblue;
}

.welcome-page form {
  background: whitesmoke;
  color: black
}

.welcome-page form h3,a {
  color: black
}

.welcome-page H3 {
  text-align: center;
  font-size: 30px;
  width: 50%;
  margin: 30px auto;
  color: black
}

header {
  margin: 0 auto;
}

a:hover {
  color: steelblue;
}

.footer-nav {
  font-family: "Amatic SC", cursive;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  color: steelblue
}

.footer-nav a {
  padding-left: 20px;
  padding-right: 20px;
  color: black
}

.banner {
  font-family: "open sans condensed", sans-serif;
  background: url("/snowleopard.jpg");
  width: 70%;
  padding-top: 0px;
  padding-bottom: 0;
  box-shadow: 10px 10px 5px #000000;
  margin: 0 auto;
  text-transform: uppercase;
}

.banner-head {
  color: whitesmoke;
  background-color: rgba(0,0,0,.7);
  font-size: 45px;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  text-align: center;
}

.banner-head a{
  color: steelblue;
}

#title {
  font-family: "Amatic SC", cursive;
  font-size: 150px;
  color: crimson;
  font-weight: lighter;
  line-height: 50px;
  padding-top: 40px;
  margin: 0 auto;
  text-shadow: 2px 2px #000000;
}

#sub {
  color: whitesmoke;
  font-size: 60px;
  padding-bottom: 0;
  margin: 0;
  text-shadow: none;
}

.banner-nav {
  width: 100%;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 0;
  background: rgba(0,0,0,.7)
}

.banner-nav a {
  color: crimson;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 30px
}

.user-info {
  font-family: "open sans condensed", sans-serif;
  width: 100%;
  font-size: 20px;
  margin: 0 auto;
  padding: 14px;
  text-align: center;
  color: crimson;
  font-weight: bold;
}

.user-info a {
  color: crimson;
}

.user-info a:hover {
  color: gold;
}

.banner-nav a:hover {
    font-weight: bold;
    color: gold;
}

a {
  text-decoration: none;
  color: gold;
}

ul {
    padding-left: 0
}

.post-index-head {
  font-size: 80px;
  font-family: "Amatic SC", cursive;
  color: black;
  text-transform: uppercase;
  margin: 20px auto 0 auto;
  text-align: center;
}

.index-posts {
  width: 100%;
  margin: 0 auto;
}

.post {
  text-align: center;
  width: 50%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1%;
  margin: 10px auto;
  font-size: 20px;
  display: block;
}

.post-head img {
  max-height: 200px;
  box-shadow: 10px 10px 5px #000000;
  border: 1px solid black;
  background: whitesmoke;
}

.post-title {
  font-size: 36px;
  padding: 0;
  margin-bottom: 0;
  color: crimson
}

.post-title:hover {
  color: gold
}


.post h6 {
  color: black
}


.post p {
  color: black;
  margin-top: 0
}

.post a {
  color: crimson
}*/


.show-post-page {
  margin: 0 auto;
  display: flex;
  text-align: center;
  max-width: 800px;
}

.show-post-page main {
  margin: 0 auto;
  color: black;
}

.show-post-page h1 {
  font-size: 50px;
  color: gold;
  max-width: 70%;
  margin: 20px auto;
}

.show-post-page img {
  border: 1px solid black;
  box-shadow: 10px 10px 5px #000000;
  background: whitesmoke;
  max-width: 90%;
}

.show-post-page h6 {
  font-size: 20px;
  margin-top: 10px;
  color: black
}

.show-post-page p {
  font-size: 20px;
  margin-top: 40px
}

form {
  background: whitesmoke;
  color: black;
  padding: 30px;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 10px 10px 5px #000000;
}

.no-style {
  border: none;
  box-shadow: none;
}

h1 {
  font-family: "amatic sc", cursive;
  font-size: 60px;
}

.community {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.community-member {
  display: inline-flex;
  padding: 0;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  background: rgba(255,255,255,.1);
  box-shadow: 10px 10px 5px #000000;
  margin: 10px;
}

.community-member:hover {
  background: rgba(0,0,0,0);
}

.community-member a {
  text-align: center;
  height: 20px;
  z-index: 100;
  color: crimson;
}

.community-member img {
  height: 200px;
  width: 200px;
  border-radius: 20px;

  z-index: -10;
  position: absolute;
  margin-bottom: 0;
  margin-left: 0;
}

.com-mem-id a {
  font-size: 20px;
  padding: 20px;
}

.about-page {
  margin: 60px auto;
  text-align: center;
  padding: 0px;
  color: black;
}

.about-page a {
  color: crimson;
  font-size: 25px
}

.about-page a:hover {
  color: gold
}

.show-user {
  text-align: center;
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  color: black;
}

.show-user img {
  border: 1px solid black;
  box-shadow: 10px 10px 5px #000000;
  max-width:700px;
}

main p {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 30px
}

.show-user ul {
  margin: 0 auto;
  max-width: 500px;
  padding-left: 0;
  display: block;
}

.show-user ul li {
  text-align: center;
  padding-top: 0;
  display: block;
}

main {
  text-align: center;
  border-radius: 2px;
  padding: 30px;
  margin: 40px auto;
}

main h1 {
  margin-top: 20px;
}

.form-style {
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}


.form-style label{
    display: block;
    margin: 0;
    padding: 10px
}

.form-style label > span {
    width: 150px;
    float: left;
    text-align: left;
    font-weight: bold;
    padding-top: 4px;
    padding-right: 15px;
    font-size: 20px
}

.form-style input{
    width: 60%;
}

.form-style h3,a {
  color: black;
}

.form-style input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px black;
    -moz-box-shadow: 1px 1px 4px black;
    -webkit-box-shadow: 1px 1px 4px black;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

.form-style input:hover {
    background: lightgrey;
}

form .submit {
  font-family: "open sans condensed", sans-serif;
  text-align: center;
  border: none;
  padding: 10px;
  background: whitesmoke;
  font-size: 18px;
  margin: 0 auto;
  font-weight: bold;
  box-shadow: 1px 1px 4px black;
}

.contact {
  text-align: center;
}

.contact h5 {
  font-size: 30px
}
