<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    this is the user login page
    <header>
    <% include ../partials/header.ejs %> 
    </header>
    <br>
    <br>
    <br>
    <form action="/sessions/login" method="POST">
       Username: <input type="text" name="username" value=""><br/>
       Password: <input type="password" name="password" value=""><br/>
       <button>Login</button>
    </form>
  </body>
</html>
