<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
              <% include ../partials/head.ejs %>
  </head>
  <body>
    this is the user login page
    <header>
    <h2>Down Days: you'd rather be skiing</h2>
    </header>
    <br>
    <br>
    <br>
    <form action="/sessions/login" method="POST">
       Username: <input type="text" name="username" value=""><br/>
       Password: <input type="password" name="password" value=""><br/>
       <button>Login</button>
       <br/>
       <br/></br/>
       <a href="/sessions/register">Not a member yet? Join!</a>
    </form>
  </body>
</html>
