<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    this is the user register page
    <header>
      <h2>Down Days: you'd rather be skiing</h2>
      <h5>register to join our community. it's ad-free!</h5>
    </header>
      <br>
      <br>
      <br>
      <form action="/sessions/register" method="POST">
         Create Username <input type="text" name="username" value=""><br/>
         Create Password <input type="password" name="password" value=""><br/>
         <button>Register</button>
         <br/>
         <br/></br/>
         <a href="/sessions/login">Already a member? Log in!</a>
      </form>
  </body>
</html>
