<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/app.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  </head>
</head>
<body class=welcome-page>
  <a href="/sessions/login" class="prompt">MEMBER? LOG IN</a>
  <br/><br/><br/><br/><br/>
  <div class="banner">
    <h1 class="banner-head" id="title">
      <!-- <a href="/posts">downdays</a><br/> -->
      <span id="sub">we'd rather be skiing</span>
    </h1>

  </div>

      <form class="form-style" action="/sessions/register" method="POST">
        <!-- <h3>JOIN FOR FREE</h3> -->

        <label><input type="text" name="username" value="" placeholder="CREATE USERNAME"></label><br/>
        <label><input type="password" name="password" value="" placeholder="CREATE PASSWORD"></label><br/>
        <button class="submit">SEND</button>
         <br/>
         <br/></br/>

      </form>
  </body>
</html>
