<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs %>  
    </header>
    This is the posts edit page.
  </body>
</html>
