<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
      <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs %>
    </header>
    <main>
    <h1>Update Post</h1>
      <div class="form-style">
        <form class="form" action="/posts/show/<%=post._id%>?_method=PUT" method="post">
          <label><span>Title: </span><input type="text" name="title" value=" <%=post.title%> "/></label><br/>
          <label><span>Content:</span> <input type="text" name="body" value="<%=post.body%> "/></label><br/>
          <label><span>Image/Video Link:</span> <input type="text" name="img" value="<%=post.img%> "/></label><br/>
          <input type="submit" value="Send It">
        </form>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
