<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
        <% include ../partials/head.ejs %>
  </head>
  <body class="logged-in">
    <header>
        <% include ../partials/header.ejs %>
    </header>
    <main>
      <h1>POST TO DOWNDAYS</h1>
      <h3>Show us what you got.</h3>
      <div class="form-style">
        <form class="form-style" action="/posts" method="POST">
          <input type="hidden" name="memberId" value="<%= currentUser %>" >
          <label><input type="text" name="title" placeholder="TITLE"/></label><br/>
          <label><input type="textarea" name="body" placeholder="CONTENT"/></label><br/>
          <label> <input type="text" name="img" placeholder="IMAGE LINK"value=""/></label><br/>
          <input class="submit" type="submit" value="Send It">
        </form>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
