<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
        <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
        <% include ../partials/header.ejs %>
    </header>
    <main>
      <form class="form-style" action="/posts" method="POST">
        Credit: <%= currentUser %>
        <input type="text" name="memberId" value="<%= currentUser %>">
        <br/>
        Title: <input type="text" name="title" value=""/><br/>
        Content: <input type="text" name="body" value=""/><br/>
        Image/Video Link: <input type="text" name="img" value=""/><br/>
        <input type="submit" value="Send It">
      </form>
    </main>
  </body>
</html>
