<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
        <% include ../partials/header.ejs %>
    </header>
    <main>
      <h1> <%= post.title %> </h1>
      <h6>by (find author by memberId) </h6>
      <p> <%= post.body %> </p>
      <img src="<%= post.img %>" alt="<%= post.title %> "/>
    </main>
  </body>
</html>
